.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 20rem;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.HeaderContainer .Logo {
  width: 8rem;
  transition: 0.3s;
}

.HeaderContainer .Logo:hover {
  filter: brightness(1.35);
}

.HeaderContainer .NavbarRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.5em;
}

.HeaderContainer .NavbarRight a {
  text-decoration: none;
}

.HeaderContainer .NavbarRight .SignupButton,
.Button,
.ProfileButton {
  color: var(--grey);
  cursor: pointer;
  padding: 0.75rem 1.2rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  /* margin: 0 -0.15rem; */
  font-size: 0.95rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.3em;
}

.HeaderContainer .NavbarRight .Button .NavIcons {
  font-size: 1.4rem;
}

.HeaderContainer .NavbarRight .Button:hover {
  background-color: var(--hover-black);
  color: var(--green-color);
}

.HeaderContainer .NavbarRight .ProfileButton img {
  width: 1.5rem;
  transition: 0.3s;
}
.Image {
  display: block;
  width: 100%;
  object-fit: contain;
}
.active {
  background-color: var(--hover-black);
  color: var(--green-color);
}
