.GroupsCardContainer {
  display: block;
  position: relative;
  background: #fff;
  padding: 1em;
  margin: 0 1em;
  height: 85vh;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px 0 #dcdcdc;
}
.TopContainer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 45%;
  overflow-y: scroll;
}
.BottomContainer {
  height: 55%;
  overflow-y: scroll;
}
.BottomContainer::-webkit-scrollbar {
  display: none;
}
.TopContainer::-webkit-scrollbar {
  display: none;
}
.TopContainerTitle {
  margin: 0 0 1em 0;
  font-weight: 700;
  font-size: 18px;
}
.BottomContainerTitle {
  margin: 1em 0 1em 0;
  font-weight: 700;
  font-size: 18px;
}
