:root {
  --black: #222;
  --grey: rgb(119, 119, 119);
  --hover-black: #2c225508;
  --white-ish: rgb(223, 223, 223);
  --orange-color: #fe9303;
  --pink-color: #e83251;
  --error-color: #ff9800;
  --color-title: #e4215b;
  --green-color: #00e17b;
  --green-hover: #00c76d;
  --radius: 0.9rem;
  --box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.14);
}

.Root {
  padding: 7rem 20rem;
  padding-bottom: 1.5rem;
}
