.ProfileCardContainer {
  display: block;
  background: #fff;
  padding: 1em;
  margin: 0 1em;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px 0 #dcdcdc;
}

.MiddleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5em 0;
  margin: 0.5em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
