.MarketContainer {
  display: flex;
}

.LeftContainers {
  flex: 60%;
  overflow-y: scroll;
  height: 85vh;
}
.LeftContainers::-webkit-scrollbar {
  display: none;
}
.RightContainers {
  flex: 40%;
}
