.GroupContainer {
  position: relative;
}
.JoinedGroupContainer {
  display: flex;
  padding: 0.5em 0 0.5em 0.5em;
  cursor: pointer;
  border-radius: 8px;
}
.JoinedGroupContainer:hover {
  background-color: var(--hover-black);
}
.JoinedGroupImage {
  display: block;
  width: 8rem;
  border-radius: 8px;
}
.GroupImage {
  display: block;
  width: 100%;
  object-fit: cover;
}
.JoinedGroupName {
  margin: auto 0;
  padding-left: 0.5em;
  width: 100%;
}
.LeaveButton {
  position: absolute;
  cursor: pointer;
  top: 0.5em;
  right: 0.5em;
  color: var(--grey);
}

.LeaveButton:hover {
  color: #000;
}
