.HomeContainer {
  display: flex;
}

.LeftContainers {
  flex: 60%;
}
.RightContainers {
  flex: 40%;
}

.AdministrationContainer {
  display: block;
  background: #fff;
  padding: 1em;
  margin: 1em;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px 0 #dcdcdc;
}
.ProfileLink {
  display: flex;
}
.Button {
  text-align: center;
  padding: 0.7em 2em;
  background-color: var(--green-color);
  color: #fff;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px 0 #dcdcdc;
  cursor: pointer;
  font-weight: bold;
}
.Button:hover {
  background-color: var(--green-hover);
}

.infoContainer {
  margin: 1em;
}
.Name {
  font-weight: bold;
}
.time {
  display: grid;
  padding-top: 0.5em;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}
.days {
  font-weight: bold;
}
