.CommentContainer {
  border-radius: 8px;
  background: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.4rem 0.7rem;
}
.ContentComment {
  background-color: var(--light-grey);
  width: auto;
  padding: 0 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 15px;
}
.Image {
  display: block;
  width: 100%;
  object-fit: contain;
}
.ImageContainer {
  display: block;
  width: 2em;
  margin-right: 0.5em;
  border-radius: 8px;
}
.ImageContainer img {
  border-radius: 50%;
}
