.NotJoinedGroupContainer {
  display: flex;
  padding-bottom: 0.5em;
}
.NotJoinedGroupImage {
  display: block;
  width: 45%;
  height: 100%;
  border-radius: 8px;
}
.GroupImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.NotJoinedGroupName {
  margin: auto 0;
  width: 100%;
}
.JoinButton {
  margin: auto 0;
  right: 0;
}
